# Ignore all

*

# Unignore all with extensions

!*.*

# Unignore all dirs

!*/

# Certain extenstions

*.pdf
*.docx
*.pyc
*.DS_Store
*.csv

# Ignore __pycache__

__pycache__

# Ignore 6.s097-project, as this is a separate repo.

6.s097-project