# Ignore all

*

# Unignore all with extensions

!*.*

# Unignore all dirs

!*/

# Certain extenstions

*.pdf
*.docx
*.pyc
*.DS_Store
*.csv

# Ignore __pycache__

__pycache__

# Ignore specific folder

collision_data

# Ignore projects, as these are separate repos.

6.s097-project
6.179-project